.field-textarea {
  line-height: 1.5rem;
  text-align: justify;
  div { white-space: pre-wrap; }
}

.show-more {
  display: inline;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

.field-email {
  .send-mail-btn
  {
    font-size: .8rem;
    margin: .4rem 0 .5rem 0;
    line-height: 1.8rem;
    height: 1.8rem;
  }
}

.field-tags
{
  margin-top: .8rem;

  .gogo-tag
  {
    margin-right: 8px;
    border-radius: 5px;
    background-color: gainsboro;
    padding: 0px 10px;
    display: inline-block;
    margin-bottom: 8px;
  }
}

.field-openhours {
  .day, .openHours { padding-left: 0; }
}

.field-vimeo {
  position: relative;
  padding-bottom: 65.25% !important;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-top: -1rem;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.field-updated-at {
  text-align: center;
  font-style: italic;
  opacity: .7;
  margin-top: 1.2rem;
  padding-bottom: .3rem;
}

.other-infos .field {
  margin-bottom: .5rem;
}