.element-item
{
	@import "element-menu";
	@import "interactive-section";
	@import "admin";

	@import "element-header";
	@import "element-body";
	@import "element-images";
	@import "element-filters";
	@import "element-categories";

	list-style-type: none;
	@include flexbox();
  @include flex-flow(column nowrap);

	h3
	{
		font-size: .85rem;
		text-transform: uppercase;
		font-weight: 600;
		margin: 0; padding: 0;
		margin-bottom: 1rem;
		padding-top: 1.5rem;
		text-align: left;

		&.first-element-of-body-content { padding-top: .5rem; }
		&.unique-element-between-dividers { display: none; }
	}

	.info-bar-divider ~ h3 {
		padding-top: 1rem;
	}

	.row { margin-bottom: 0 }

	p { padding: 0; margin: 0; }

	.info-bar-divider
	{
	  height: 1px;
	  overflow: hidden;
	  margin-bottom: .3rem;
    margin-top: .7rem;
	}

	.btn
	{
		height: 2rem;
  	line-height: 2rem;
  	padding: 0 1rem;
  	margin-bottom: 1rem;
	}

	span.added
	{
		color: #3a772c
	}

	span.removed
	{
		text-decoration: line-through;
		margin-right: 5px;
		color: #b57e7e;
	}

	a > span.equals
	{
		color: rgba(0, 0, 0, 0.87) !important;
	}
}