.shadow-bottom
{
	width: 100%;
    margin-right: 0;
    height: 8px;
    position: absolute;
    //top: 3rem;
    z-index: 4;
    left: 0;
    opacity: 1;
    border-top: 1px solid rgba(0,0,0,0.4);
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.3)),to(rgba(0,0,0,0)));
    -webkit-mask-box-image: -webkit-gradient(linear,left top,right top,color-stop(0.0,rgba(0,0,0,0)),color-stop(0.5,rgba(0,0,0,.8)),color-stop(1.0,rgba(0,0,0,0)));
}