<style>
.gogo-theme-presdecheznous .directory-menu-header .search-icon.search-geolocalize { color: {{ textSoft }}; }  
.gogo-theme-presdecheznous .directory-menu-header .search-icon.search-bar-icon { background-color: {{ text }}; }
.gogo-load-css .gogocarto-container .leaflet-marker-container .marker-popup { opacity: .9; }

.gogo-load-css .gogo-theme-presdecheznous.gogocarto-container .element-item .info-bar-divider {
  margin-left: -.5rem;
}

.gogo-load-css .gogocarto-container #element-info-bar.display-aside .element-item .collapsible-header {
  padding-left: .6rem;
  padding-right: .5rem;
}

.gogo-load-css .gogocarto-container .leaflet-control-zoom.leaflet-bar.leaflet-control a:hover,
.feature-button.gogo-section-controls:hover { background-color: {{ background }} !important; cursor: pointer; }

@media only screen and (min-width: 601px) {
  .gogo-load-css .gogocarto-container .element-item .collapsible-body .collapsible-body-main-content { padding-left: 1.6rem; }
}

</style>