{% set title = 'decide.for' if isAdmin else 'share.your.knowledge.about' %}
<h5>{{ title|i18n }} {{elDisplayName}} <span class="elementName">{{ element.name }}</span></h5>

<p id="select-error" class="error">{{ 'you.must.select.your.vote'|i18n }}</p>

{% set isPendingAdd = element.status == ElementStatus.PendingAdd %}

{% if isAdmin or not isPendingAdd %}

	<input class="option-radio-btn "value="-1" name="voteOption" type="radio" id="option7"/>
  <label class="option-radio-label" for="option7">
  	{% if isAdmin %}
  		{{ 'reject'|i18n }} {{ ('the.addition' if isPendingAdd else 'modifications')|i18n|lower }}
  	{% else %}
  		{{ 'i.do.not.agree.with.the.proposed.modifications'|i18n }}
  	{% endif %}
  </label>

	<input class="option-radio-btn "value="1" name="voteOption" type="radio" id="option6"/>
  <label class="option-radio-label" for="option6">
  	{% if isAdmin %}
  		{{ 'accept'|i18n }} {{ ('the.addition' if isPendingAdd else 'modifications')|i18n|lower }}
  	{% else %}
  		{{ 'i.validate.the.proposed.modifications'|i18n }}
  	{% endif %}
  </label>

{% else %}

		<input class="option-radio-btn "value="-2" name="voteOption" type="radio" id="option3"/>
	  <label class="option-radio-label" for="option3">{{elDisplayName}} {{ 'does.not.respect.charter.should.not.be.listed.here'|i18n }}</label>

	  <input class="option-radio-btn "value="-1" name="voteOption" type="radio" id="option4"/>
	  <label class="option-radio-label" for="option4">{{elDisplayName}} {{ 'doest.not.exist'|i18n|lower }}</label>

	  <input class="option-radio-btn "value="0" name="voteOption" type="radio" id="option0"/>
	  <label class="option-radio-label" for="option0">{{elDisplayName}} {{ 'exists.but.given.informations.are.incorrect'|i18n }}</label>

	  <input class="option-radio-btn "value="1" name="voteOption" type="radio" id="option1"/>
	  <label class="option-radio-label" for="option1">{{elDisplayName}} {{ 'exists.but.i.do.not.know.anything.else.about.it'|i18n }}</label>

	  <input class="option-radio-btn "value="2" name="voteOption" type="radio" id="option2"/>
	  <label class="option-radio-label" for="option2">{{elDisplayName}} {{ 'exists.and.i.validate.the.accuracy.of.the.given.informations'|i18n }}</label>

{% endif %}

<div class="input-field">
	{% set placeHolder = "placeholder.input.comment" if isAdmin else "placeholder.input.comment.administration" %}
	<input class="input-comment" type="text" placeholder="{{ placeHolder | i18n }}"/>
</div>